# Dependencies
node_modules/
composer.phar

# Storage
storage/
*.log

# Environment
.env
.env-sif
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cache
bootstrap/cache/
.ftpquota

# Other
public_html.zip
*.zip
bkp/
__MACOSX/
